<h1>call function in angular</h1>
<button (click)="getName('Fenil Mendapara')">Get my name</button>

<br>
<br>
<!-- keyevent -->
<input type="text" #box (keyup)="getName(box.value)"> key event
<!-- keyup with enter or space -->
<br>
<br>
<input type="text" #enterbox (keyup.enter)="getName(enterbox.value)"> keyup with enter or space

<!-- keydown-->
<br>
<br>
<input type="text" #downbox (keydown)="getName(downbox.value)"> keydown

<!-- blur event-->
<br>
<br>
<input type="text" #blurbox (blur)="getName(blurbox.value)"> Blur event

<!-- Mouse event 
mouseover
mouseenter
mouseleave
-->
<br>
<br>
<div
(mouseleave)="getName('mouse in')"
style="background-color: skyblue;">
Hello mouse
</div>
<br>
<br>
<!-- keyevent -->
<input type="text" #getbox > key event
<br>
<button (click)="getName(getbox.value)">Get value</button>
<h6>{{getText}}</h6>

<!-- property binding -->
  <input type="text" [disabled] = "disableBox" [value]=name2 />
  <br>both are doing same<br>
  <input type="text" disabled = {{disableBox}} value={{name2}} />
  <br>
  <br>
  <button (click)="enableBox()">Enable TextBox</button>



